@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
p{
   font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6,button{
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style:italic;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-center{
   flex-direction: column;
}
:root{
    --prime:#003459;
    --sec:#ffff;
    --btn:#00171f;
}
a{
    text-decoration: none;
}
.head{
  font-size: 3rem;
}
.headline{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    background-color: black;
    bottom:-5px;
  }
  &::before{
    width: 30%;
    left: 0;
    bottom: -7px;
    height: 10px;
    background: black;
    content: "";
    position: absolute;
  }
}
.headline2{
  &::after{
    background-color: white;
  }
  &::before{
    background: white;
  }
}